html,
body {
    height: 100% !important;
    width: 100% !important;
}

mat-drawer-container {
    width: 100% !important;
    height: calc(100% - 64px) !important;
    border: none !important;
}

.sidenav-content {
    flex-direction: column;
}

mat-drawer-content router-outlet:first-child {
    width: 100%;
}

mat-drawer.sidenav.mat-drawer {
    padding: 1rem 0;
    border: none;
}

.cp-item-link {
    flex-direction: row;
    color: var(--primary-color);
    margin: 0 -24px;
    padding: 12px 24px;
    text-decoration: none;
    border-inline-end: 2px solid transparent;
    transition: all 400ms ease-in-out;

    &.active {
        border-inline-end: 2px solid var(--primary-color);
        color: var(--primary-color);
    }
}

.indicator {
    visibility: hidden;
}

.cp-item-link .indicator,
.cp-item-link:hover .indicator {
    visibility: visible;
    color: #fff;
    border-inline-end: 1px solid var(--primary-color);
}

.sidenav-content {
    padding: 24px;
}

.sidenav {
    padding: 24px;
    width: 295px;
}

.icon {
    padding: 0 14px;
}

.spacer {
    flex: 1 1 auto;
}

.search-input-bg {
    background-color: rgba(var(--primary-color), 0.1);
    width: 100%;
}

.search-input-bg div {
    width: 100%;
}

input.search-input {
    height: 40px;
    border: none;
    background-color: hsl(0, 0%, 100%);
    padding: 0 0.5rem;
    outline: none;
}

.mat-expansion-panel-body {
    display: flex;
    flex-direction: column;
}

a {
    display: flex;
    align-items: center;
    padding: 0.5em 0;
}




mat-toolbar {
    position: relative;
    z-index: 100;
    border-bottom: 1px solid #d0d6ce;
    box-shadow: none !important;
}

.logo {
    height: 100%;
    max-height: 45px !important;
    width: auto;
}

mat-toolbar-row,
.mat-toolbar,
.mat-drawer-container {
    background-color: transparent !important;
}

#cp-accordion mat-expansion-panel {
    background-color: transparent !important;
}

#cp-accordion .mat-expansion-panel-body {
    display: flex;
    flex-direction: column;
    padding: 12px 0px 16px !important;
}

.mat-drawer-side {
    background-color: transparent;
}

.cp-item-link {
    align-items: center;
    transition: all 200ms ease-in-out;
    border-inline-start: 3px solid transparent;
}

.cp-item-link img {
    width: 24px;
    height: 24px;
}

.cp-item-link.active {
    // background-color: rgba($app-primary, 0.15);
    border-radius: 0;
    font-weight: bold;
    color: #fff;
    border-inline-end: 1px solid var(--primary-color);

    // color: $app-primary;
    // border-inline-start-color: $app-primary;
}




mat-drawer a {
    display: flex;
    align-items: center;
}

button.mat-fab {
    position: absolute;
    bottom: 5%;
    right: 2.5%;
}

button.mat-fab.rtl {
    right: unset;
    left: 2.5%;
}

.mat-menu-trigger:hover {
    cursor: pointer;
}



#avatar-wrapper>img {
    border: none !important;
}



mat-drawer{
    max-width: 200px;
    border-inline-end: 1px solid #ddd !important;
}